<div class="container">

	<h2 class="title">Contact Messages</h2>
	<div class="row">
	<!-- <ul class="col-12 pt-5">
		<li *ngFor="let contact of contacts" class="project col-12">
			<a [routerLink]="['/message', contact._id]">

		<h3>{{contact.name}} |{{contact.surname}}  </h3>
		<p>{{contact.email}}</p>
		<p>{{contact.text}}</p>
		<p>{{contact.created_at}}</p>

		</a>
	</li>
</ul> -->



<ul class="col-12 pt-5">
	
	<li *ngFor="let contact of contacts" class="list-messages"   >
		<div class="card pt-10">
			<div class="card-body">
				<a [routerLink]="['/message', contact._id]" class="card-link">
					
					<div class="row ">
						<h3 class="col-12 col-md-4 card-title field-name">{{contact.name}} {{contact.surname}}</h3>
						<p  class="col-12 col-md-4 card-text field-message">{{contact.text  | limitTo : 40 }}</p>
						<!-- <p  class="col-12 col-md-4">{{contact.created_at | amFromUnix | amLocale: 'en' | amTimeAgo }} </p> -->
						<p  class="col-12 col-md-4 card-text field-message">{{contact.created_at.date | amLocale: 'en' | amDateFormat:'MMMM DD, YYYY  HH:mm' }} </p>
						
					</div>
				</a>


			</div>
		</div>

	</li>
	


	<!-- page: actual page, pages: total pages -->
	
	<nav aria-label="Page navigation pagination">
		<ul class="pagination pull-right col-12 pagination-lg justify-content-center">
			
			<li class="page-item" *ngIf="page > 1"><a class="page-link" [routerLink]="['/messages', prev_page]">Previous</a></li>
			<li class="page-item" *ngIf="pages != page"><a class="page-link" [routerLink]="['/messages', next_page]">Next</a></li>
		</ul>

	</nav>

</ul>



<!-- <div class="table-responsive">
<table class="table">
		<tr *ngFor="let contact of contacts" class="list-messages"   >
		
			<a [routerLink]="['/message', contact._id]">
	 	  
		<td><h3>{{contact.name}} {{contact.surname}} </h3> </td>
		<td><p>{{contact.email}}</p></td>
		<td><p>{{contact.text}}</p></td>
		<td><p>{{contact.created_at}}</p></td>
	</a>

	</tr>
	</table>
</div> -->


</div>
</div>

