<header>
<!-- <ul>
  <li><a [routerLink]="['/sobre-mi']" [routerLinkActive]="['actived']">Sobre mi</a></li>
  <li><a [routerLink]="['/proyectos']" [routerLinkActive]="['actived']">Proyectos</a></li>
  <li  id="logo"><a href="#">CN</a></li>
  <li><a [routerLink]="['/crear-proyecto']" [routerLinkActive]="['actived']">Crear proyecto</a></li>
  <li><a [routerLink]="['/contacto']" [routerLinkActive]="['actived']">Contacto</a></li>

</ul> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<!-- <a class="navbar-brand" href="#">Navbar</a> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


   <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/sobre-mi']" [routerLinkActive]="['actived']">Sobre Mi <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  [routerLink]="['/proyectos']" [routerLinkActive]="['actived']">Proyectos</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" [routerLink]="['/sobre-mi']" [routerLinkActive]="['actived']" id="logo">CN</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" [routerLink]="['/crear-proyecto']" [routerLinkActive]="['actived']" *ngIf="identity">Crear Proyectos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/contacto']" [routerLinkActive]="['actived']">Contacto</a>
        
      </li>

        <li class="nav-item">
        <a class="nav-link" [routerLink]="['/messages']" [routerLinkActive]="['actived']" *ngIf="identity">Leer Mensajes</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" [routerLink]="['/login']" [routerLinkActive]="['actived']" *ngIf="!identity">Login</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" [routerLink]="['/register']" [routerLinkActive]="['actived']" *ngIf="identity">Register</a>
      </li>
     </ul>
   </div>
</nav>


</header>
<section id="content">
  <router-outlet> </router-outlet>

</section>

<!-- <div class="col-lg-8 mx-auto">	 -->
<div class="container">  
 <div class="row">
   <footer class="col-12 col-lg-4" >Carmelo.</footer>

 </div>
</div>