<!-- incluimos el *ngIf="project" para que solo lo carge cuando tenga project  -->
<!-- Ya que ahora el componente edit redirige a esta vista tambien -->
<div class="container" *ngIf="project">
	<h2 class="title">{{title}}</h2>
	<div class="alert-success" *ngIf="status == 'success' ">
		El projecto ha sido creado correctamente, puedes verlo  <a [routerLink]="['/proyecto', save_project._id]">Aquí</a>  
	</div>
	<div class="message failed" *ngIf="status  == 'failed' ">
		No se ha podido crear el projecto
	</div>


	<!-- incluimos 'projectForm dentro del onSubmit para poder resetearlo' -->
	<form #projectForm="ngForm" (ngSubmit)="onSubmit(projectForm)" class="col-md-6" >
	
		
	 <div class="form-group">
   		 <label for="name">Nombre</label>
   		 <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="project.name" required placeholder="Introduce un Nombre">
   		 <small id="" class="form-text text-muted" *ngIf="name.touched && !name.valid">El nombre es obligatorio</small>
		</div>

     <div class="form-group">
	    <label for="description">Descripción</label>
	    <textarea  class="form-control" name="description" #description="ngModel" [(ngModel)]="project.description" required  placeholder="Introduce una descripción"></textarea>
	    <small  class="form-text text-muted"  *ngIf="description.touched && !description.valid"> La descripción es obligatoria</small>
  		</div>


	 <div class="form-group">
    	<label for="category">Categoría</label>
    	<input type="text" name="category" #category="ngModel" [(ngModel)]="project.category" required class="form-control" placeholder="Introduce una categoría">
    	<small  class="form-text text-muted" *ngIf="category.touched && !category.valid">La categoría es obligatoria</small>
 		 </div>

	 <div class="form-group">
	    <label for="year">Año</label>
	    <input type="number" name="year" #year="ngModel" [(ngModel)]="project.year" class="form-control"  placeholder="Introduce un Año">
	    <small  class="form-text text-muted">Introduce un año</small>
	  	</div>

	 <div class="form-group">
	    <label for="langs">Lenguajes usados</label>
    	  <input  type="text" name="langs" #name="ngModel" [(ngModel)]="project.langs" required class="form-control"  placeholder="Introduce un Lenguaje">
	  <!--   <small  class="form-text text-muted" *ngIf="langs.touched && !langs.valid">Los lenguajes son obligatorios</small> -->
	  	</div>


	 <div class="form-group">
    	<label for="image">Imagen del Proyecto</label>
    	<span class="image" *ngIf="project.image" style="float:none;">
			<img  src="{{url+'get-image/'+project.image}}" style="width: 100px; margin-bottom: 10px; " alt="">
		</span>

  	 <!--   <input type="file" name="image" placeholder="Upload imagen" (change)="fileChangeEvent($event)"  class="form-control-file">
   	   <small class="form-text text-muted">Choose an image</small> -->



	<div class="input-group mb-3">
    <div class="custom-file">
    <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" (change)="fileChangeEvent($event)">
    <label class="custom-file-label" for="inputGroupFile01">Elige Imagen</label>
  </div>
</div>




  	</div>


		<!-- con el disabled dando el nombre del form, lo desactivamoos mientras no sea valido  -->
		<input type="submit" value="Enviar"  class="btn btn-primary" [disabled]="!projectForm.valid">

	</form>


</div>