/*Import custom fonts*/
@font-face {
	font-family: "yanone";
	src: url("fonts/yanone.ttf");
}

@font-face {
	font-family: "finger";
	src: url("fonts/finger.ttf");
}

/* Main */

*{
	margin: 0px;
	padding: 0px;
}
body {
		font-family: "yanone", Arial, Helvetica;
		font-size: 20px;
/*		background: url('../img/pattern.png');
*/		background-attachment: fixed;
}
.clearfix {
	float: none;
	clear: both;
}


/* Jumbotron */
.jumbotron { 
	background: white!important;
 }

@media (min-width: 576px)
{
.jumbotron {
   /* padding: 2rem 2rem!important;*/
    padding: 2rem 2rem 0rem 2rem!important;
	}
}
 /* Hover Main nav*/
header a:hover,
 .actived {
	/*background: rgba(0,0,0,0.8);*/
	font-family: "finger";
}

/* Logo */
 #logo {
 	font-family: "finger";
 	font-size: 30px;
 	padding-top: 0px;
 }
#logo a {
	transition: color 500ms, transform 500ms; 
}
 #logo a:hover {
	background: transparent;
	color:black;
	transform: scale(1.50,1.50);
}

/* Headers */
#title h1 {
	font-family: "finger";
	font-size: 60px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
}
#title h2 {
	font-size: 25px;
	color:gray;
	margin-top: 5px;
	margin-bottom: 5px;
}

/* Main Title */
h1 {
	font-family: "finger"!important;
}
h2.title  {
	font-family: "finger"!important;
}
p.title {
		font-family: "finger"!important;
}
p.title-about {
		font-family: "finger"!important;
		color:gray;
		font-size: 16px;
	}
h3.title {
	font-family: "finger"!important;
	color:gray;
	font-size: 18px;
	margin-top: 5px;
	margin-bottom: 15px;
}

/* Project details */
h2.project-detail-title {
	font-family: "finger"!important;
}
p.field-project-detail {
	font-family: "finger"!important;
	color:gray;
}

/* Messages list*/
p.field-message {
	font-family: "finger"!important;
	color:gray;
}


h3.field-name
{
	font-family: "finger"!important;
	font-size: 18px!important;
	
}


/* Message detail */
h3.title-message-detail  {
	font-family: "finger"!important;
	color:gray;
	font-size: 18px;
	margin-left: 15px;
	margin-top: 5px;
	margin-bottom: 15px;
}

/*Form Section*/
.container {
	padding: 50px;
	padding-top: 10px;
}
.container .image {
 /*	float: left;
 	width: 47%;*/
}
.container .image img {
 	
 	width: 100%;
}
.container h2 {
	border-bottom: 1px solid #ccc;
	padding-bottom:  10px;
	margin-bottom: 15px;
	display: block;
}
form {
	width: 80%;
}
form label {
	display: block;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 5px;
}

form button, 
form input[type="submit"],
.button-edit,
.button-delete{
	font-size: 18px;
	padding: 10px;
	margin-top: 15px; 
	color: white;
	background: rgba(53,103,164,1);
	border: 1px solid  rgba(13,67,133,1);
	cursor: pointer;
}

.button-edit,
.button-delete{
	text-align: center;
	width: 100%;
	float: left;
	margin-right: 10px;
	text-decoration: none;
}
.button-edit{
	background: orange;
	border: 1px none;
}

.button-delete{
	background: red;
	border: 1px none;
}
form button:hover, 
form input[type="submit"]:hover{

	background: rgba(53,103,164,0.8);
	border: 1px solid  rgba(13,67,133,1);
	
}
form input[disabled]{
	opacity: 0.4;
	cursor: not-allowed;
}
.form_error {
	font-size: 13px;
	padding: 3px;
	background: red;
	color: white;
	margin-left: 5px;
}
.message {
	width:  50%;
	padding: 5px;
	border: 1px solid #eee;
}
.success {
	background: green;
	color: white;
}
.message a {
	color: white;
}
.failed {
	background: red;
	color: white;
}

/* Project Page */
.project {
	list-style: none;
	display: block;
	float: left;
	width: 28%;
	text-align: center;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 30px;
}
.project .image {
	width: 100%;
	height: 150px;
	overflow: hidden;
}
.project img {
	width: 100%;
}
.project a {
	text-decoration: none;
	color: black;
}
.confirm {
	display: block;
	font-weight: bold;
	margin-top: 20px;
}

/*Message list of (contacts) */

.list-messages {
	list-style: none;
	display: block;
	text-align: center;
	margin-bottom: 30px;
}
.list-messages a {
	text-decoration: none;
	color: black;
}
.list-messages a:hover {
	text-decoration: none;
	color: black;
}
.card-deck a:hover {
	text-decoration: none;
	color: black;
}

