<!-- <div id="title">
	<h1>{{title}}</h1>
	<h2>{{subtitle}}</h2>
	<p>{{web}}</p>
</div> -->


<!-- <div class="container-fluid">
 --><div class="col-lg-12">	

<div class="jumbotron jumbotron-fluid">
  <div class="container" id="title">
    <h1 class="display-4 text-center">{{title}}</h1>
    <p class="lead text-center">{{subtitle}}</p>
   <!--  <p class="text-center">{{email}}</p> -->
  </div>
</div>

</div>

<!-- </div>
 -->




<div class="col-lg-8 mx-auto">	

<article class="about">
	<h2 class="title">Sobre mí</h2>
	<p></p>
	<p class="title-about">Desarrollador web front-end y back-end, apasionado de las nuevas tecnologías. </p>

<p class="title-about">He desarrollado mi actividad profesional tanto del lado del front, maquetando los diseños de los diferentes proyectos, como desarrollando directamente con php.</p>

<p class="title-about">Por otro lado, este año 2018 he dado el salto al trabajar con el framework Laravel, donde he sido el responsable del front y del desarrollo de la lógica de diferentes proyectos.</p>

<p class="title-about">Además en proyectos personales, estoy desarrollando aplicaciones con Angular (MEAN stack).</p>



</article>

</div>

