<div class="col-lg-12">	

<div class="jumbotron jumbotron-fluid">
  <div class="container" id="title">
    <h1 class="display-4 text-center">{{title}}</h1>
    <p class="lead text-center">{{subtitle}}</p>
  
  </div>
</div>

</div>






<div class="col-lg-8 mx-auto">	

<article class="about">
	<h2 class="title">About me</h2>
	<p></p>
	<p class="title-about">Front-end and back-end web developer, passionate about new technologies. </p>

<p class="title-about">I have developed my career by working both with front-end technologies such as HTML, CSS & Javascript (Typescript, ES6 & Angular)) as well as back-end, working with PHP (Laravel, OOP), SQL & MongoDB..</p>

<p class="title-about">In addition, this year 2019 I made the leap by working with the Laravel framework, where I was in charge of the front-end and the development of the logic of different projects. </p>

<p class="title-about">In my free time, I’m working on developing applications with Angular (MEAN stack).</p>



</article>

</div>

