<div class="container">
	<h1>Contacto</h1>
<div id="texto" #textos>
<p appResaltado>Esta es la pagina de contacto,puedes enviarnos cualquier duda</p>
</div>

<!-- 	Tamaño del slider -->
	<input type="number" [(ngModel)]="widthSlider" (keyup.enter)="cargarSlider()">
	<button (click)="cargarSlider();">Cargar Slider</button>
	<button (click)="resetearSlider();">Resetear Slider</button>


<div *ngIf="anchuraToSlider"> 
	
	<!-- Componente padre Contacto y componente hijo slider -->
	
	<!-- Vamos a pasarle los atributos al componente slider (hijo) -->
	<slider [anchura]="anchuraToSlider"
			[etiquetas]="captions"
			(conseguirAutor)="getAutor($event)"></slider>
</div>
 {{autor.nombre + " " + autor.website}}

 

</div>