<div class="container">
	<h2 class="title-2">Contacto</h2>
<div id="">
<p>Esta es la pagina de contacto,puedes enviarnos cualquier duda</p>
</div>

<div class="alert alert-success" *ngIf="status =='success'">
			El mensaje se ha enviado correctamente  
		
	</div>

<div class="alert alert-danger" *ngIf="status =='error'">
		El mensaje no se ha podido enviar 
		
	</div>


<form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" class="col-md-6">
		<div class="form-group">
			<label for="name" >Nombre</label>
			<input type="text" name="name" #name="ngModel" [(ngModel)]="contact.name" class="form-control" required/>
			<small class="form-text text-muted" *ngIf="!name.valid && name.touched">
				El nombre es obligatorio!
				
			</small>
			</div>

	<!--  <div class="form-group">
   		 <label for="name">Nombre</label>
   		 <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="project.name" required placeholder="Enter name">
   		 <small id="" class="form-text text-muted" *ngIf="name.touched && !name.valid">El nombre es obligatorio</small>
		</div> -->

		<div class="form-group">
			<label for="surname" >Apellidos</label>
			<input type="text" name="surname" #surname="ngModel" [(ngModel)]="contact.surname" class="form-control" required/>
			<small class="form-text text-muted" *ngIf="!surname.valid && surname.touched">
				El Apellido es obligatorio!
			</small>
		</div>


	
		<div class="form-group">
			<label for="email" >Email</label>
			<input type="email" name="email" #email="ngModel" [(ngModel)]="contact.email"
			 class="form-control" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"/>
			<small class="form-text text-muted"  *ngIf="!email.valid && email.touched">
				El Email es obligatorio!
				
			</small>
		
		</div>

		<div class="form-group">
			<label for="text">Motivo del email</label>
			<textarea name="text" #text="ngModel" [(ngModel)]="contact.text" class="form-control" required ></textarea>
			<small class="form-text text-muted" *ngIf="!text.valid && text.touched">
				El motivo del email es obligatorio!
			</small>
		</div>

				
	<input type="submit" value="{{title}}" [disabled]="!registerForm.form.valid" class="btn btn-success" 
	>
	</form>




<div> 
	


