<div class="container">
	<h1>Contacto</h1>
<div id="texto">
<p>Esta es la pagina de contacto,puedes enviarnos cualquier duda</p>
</div>

	
<form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" class="col-md-6">
		<p>
			<label >Nombre</label>
			<input type="text" name="name" #name="ngModel" [(ngModel)]="contact.name" class="form-control" required/>
			<span *ngIf="!name.valid && name.touched">
				El nombre es obligatorio!!
				
			</span>
			</p>
				<p>
			<label >Apellidos</label>
			<input type="text" name="surname" #surname="ngModel" [(ngModel)]="contact.surname" class="form-control" required/>
			<span *ngIf="!surname.valid && surname.touched">
				El Apellido es obligatorio!!
				
			</span>
		
		</p>

	
		<p>
			<label >Email</label>
			<input type="email" name="email" #email="ngModel" [(ngModel)]="contact.email"
			 class="form-control" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"/>
			<span *ngIf="!email.valid && email.touched">
				El Email es obligatorio!!
				
			</span>
		
		</p>

		<p>
			<label>Motivo del email</label>
			<textarea name="text" #text="ngModel" [(ngModel)]="contact.text" class="form-control" required ></textarea>
			<span *ngIf="!text.valid && text.touched">
				El texto de la publicacion es obligatorio
			</span>
		</p>

				
	<input type="submit" value="{{title}}" [disabled]="!registerForm.form.valid" class="btn btn-success" 
	>
	</form>




<div> 
	


