
<div *ngIf="contact" class="container">

  	<div class="data">
    <h2 class="title-2">{{contact.name}} {{contact.surname}}</h2>
	<h2 class="title-2">{{contact.email}}</h2>
	<h2 class="title-2">{{contact.created_at.date | amLocale: 'es' | amDateFormat:'DD MMMM YYYY,  HH:mm' }}</h2>
	<p class="col-12 ">{{contact.text}}</p>
	

	<p *ngIf="confirm == false" class="col-12 col-md-6">
		<!-- <a [routerLink]="['/editar-contact', contact._id]" class="button-edit">Editar</a> -->
		<a  [routerLink]="['/editar-contact', contact._id]" class="btn btn-warning button-edit">Editar</a>
		<!-- <a (click)="setConfirm(true)" class="button-delete">Borrar</a> -->
		<a  (click)="setConfirm(true)" class="btn btn-danger button-delete">Borrar</a>
	</p>

	<p *ngIf="confirm == true">
		<span class="confirm">¿Estas seguro de eliminar este mensaje? </span>
		<a (click)="setConfirm(false)" class="button-edit">Cancelar</a>
		<a (click)="deleteContact(contact._id)" class="button-delete">Eliminar Definitivamente</a>
	</p>
</div>
</div>