<p>
  detail-message works!
</p>

<div *ngIf="contact" class="container">

 


  	<div class="data">
   <h1>{{contact.name}}</h1>
	<h3>{{contact.surname}}</h3>
	<p>{{contact.email}}</p>
	<p>{{contact.text}}</p>
	<p>{{contact.created_at}}</p>

	<p *ngIf="confirm == false">
		<a [routerLink]="['/editar-contact', contact._id]" class="button-edit">Editar</a>
		<a (click)="setConfirm(true)" class="button-delete">Borrar</a>
	</p>

	<p *ngIf="confirm == true">
		<span class="confirm">¿Estas seguro de eliminar este mensaje? </span>
		<a (click)="setConfirm(false)" class="button-edit">Cancelar</a>
		<a (click)="deleteContact(contact._id)" class="button-delete">Eliminar Definitivamente</a>
	</p>
</div>
</div>